[user]
	email = danalec@gmail.com
	name = Dan Alec Yamaguchi
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_ignore
	editor = nvim
	ignorecase = false
	whitespace = trailing-space,space-before-tab,indent-with-non-tab
[merge]
	tool = nvim -d
[color]
	ui = true
[color "diff"]
  meta = yellow bold ul  
  frag = cyan bold ul
  old = red bold  
  new = green bold
[color "status"]  
  added = green bold  
  changed = yellow bold  
  untracked = red bold
[grep]
  break = true
  heading = true
  lineNumber = true<Paste>
[tar "tar.xz"]
	command = xz -c
[alias]
	gi = "!gi() { curl -s http://www.gitignore.io/api/$@ ;}; gi"
	g = grep --extended-regexp --break --heading --line-number
[credential]
	helper = cache
[alias]
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
	stat = status -sb
	last = log -1 --stat
	unstage = reset HEAD --
	cached = diff --cached
	d = difftool
[diff]
	tool = nvimdiff
[difftool]
	prompt = false
